name: "Poc Api"
slug: "homelend-pocapi"
description: "Poc Api dotnet container"
version: 1.0.7
url: "https://github.com/homelend-tecnologia/homeassistant-addons"
arch:
  # - armhf
  # - armv7
  - aarch64
  - amd64
  # - i386
image: "ghcr.io/homelend-tecnologia/homeassistant-addons-pocapi-{arch}"

map:
  - share:rw
#   - media:rw
#   - homeassistant_config:rw
#   - addon_config:rw
#   - ssl:rw
#   - backup:rw
#   - addons:rw
#   - all_addon_configs:rw

role:
  - admin
  
environment:
  - "ACCESS_TOKEN": "<access_token>"
  - "BASE_URL": "http://supervisor/core"

options:
  ACCESS_TOKEN: "<access_token>"
  BASE_URL: "http://supervisor/core"

hassio_api: true
hassio_role: admin
homeassistant_api: true
docker_api: true

panel_icon: mdi:home-assistant
panel_admin: false
panel_title: "Poc Api"

#host_network: true
host_network: false
ingress: true
ingress_port: 8080
ingress_entry: "api/homeassistant/device/states/"

ports:
  8080/tcp: 8084

init: false
startup: application
boot: auto
restart: always
auto_update: true
